html
  head
    title pug boilerplate

    //- Meta Tags
    meta(charset="utf-8")

    //- HTML Imports

    //- Styles
    link(rel="stylesheet" href="/styles/reboot.css")

    //- Scripts

  body
    block main
      h1 pug boilerplate
