extends ./layout

block main
    for regs, eventName in register
      h1= eventName
      h2 Present
      ul
        for reg in regs.filter(x => x.present)
          li= `${reg.member.fullName}`

      h2 Absent
      ul
        for reg in regs.filter(x => !x.present)
            li= `${reg.member.fullName}`
