extends ./layout

block main
  ul
    for member in members
      li
        a(href=`/member/${member.id}`)= member.fullName
        //- ul
        //-   for event in member.events
        //-     li= event.name
